html, body {
    margin: 0;
    padding: 0;
}

.chat {
    clear: both;
    height: 100%;
    width: 50%;
    margin: auto;
    border: 2px solid blanchedalmond;
    border-radius: 4px;
    box-sizing: border-box;
}

.chat > div {
    display: inline-block;
    vertical-align: top;
}

.messages {
    overflow-y: scroll;
    height: calc(100vh - 40px);
    width: 100%;
}

.message_field {
    white-space: nowrap;
}

.my_name, .my_msg {
    text-align: right;
    font-weight: 100;
}

.not_my_name, .not_my_msg {
    text-align: left;
    font-weight: 100;
}

.user_msg {
    margin-right: 2%;
    margin-left: 16%;
}

.not_user_msg {
    margin-right: 16%;
    margin-left: 2%;
}
